  <!-- NAVIGATION -->

  <nav class="navbar justify-content-center"> 
      <a class="navbar-brand" href="#">
          <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/17973514_405251476517958_6332782059471514257_o.jpg?oh=18f383707bc426a1af026d41c94ee63a&oe=5B032F6A" width="120" height="80" alt="">
        </a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" mat-raised-button color="primary" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" mat-raised-button color="primary">Testimonials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" mat-raised-button color="primary">Portfolio</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#" mat-raised-button color="primary">Contact us</a>
        </li>   
      </ul></nav>
<!-- COVER --> 
<div class="jumbotron"></div>

<!-- Content -->
<div class="container" style="margin-bottom:50px">
    <div class="row justify-content-center">
<h1>Welcome to Professional Painting PB</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod ut nulla sit amet tempus. Fusce sollicitudin scelerisque est nec vehicula. Praesent feugiat nunc interdum maximus tempor. Sed sodales purus dui, a commodo ipsum lacinia ut. Morbi at dui a enim molestie rhoncus. Integer vitae efficitur enim. Maecenas in elit luctus, mattis nisi iaculis, pharetra erat. Sed lectus velit, maximus in hendrerit id, maximus quis nulla. Ut posuere, neque ac dapibus placerat, est risus pulvinar tellus, at aliquet massa magna eget lacus. Aenean commodo pretium dolor in vestibulum. Pellentesque volutpat feugiat mi, a egestas turpis mollis eu. Nullam ac ultricies enim. Ut gravida pretium purus, eget tempor nunc luctus at. Maecenas non nulla a enim tristique porttitor consectetur a nulla.

    Suspendisse aliquam arcu quis purus molestie eleifend. Donec sagittis lacus nec lectus tempor luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut in elit in lectus vehicula pulvinar sed nec enim. Nam sem ipsum, convallis vitae augue sed, sollicitudin molestie neque. Suspendisse elementum nunc sit amet mi euismod scelerisque. Aenean felis est, mattis et magna ac, tempus hendrerit turpis. Quisque mollis ante ac odio viverra, eu maximus massa porttitor. Aliquam vitae ex sit amet nisi mattis accumsan.</p>
    <div class="col-sm"><i class="material-icons" style="font-size:120px;">home</i> <br>We do homes</div>
    <div class="col-sm"><i class="material-icons" style="font-size:120px;">business</i><br>We do businesses</div>
    <div class="col-sm"><i class="material-icons" style="font-size:120px;">format_paint</i> <br>Best paint quality</div>
    </div>
</div>


<!--Testimonials-->
<div class="container" style="margin-bottom:50px">
    <section class="justify-content-center">

    <!--Section heading-->
    <h1>Testimonials</h1>
    <!--Section description-->
    <p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

    <!--Grid row-->
    <div class="row text-center">
        <!--Grid column-->
        <div class="col-md-4 mb-4">
                <!--Avatar-->
                <div class="my-3">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>

                <!--Content-->
                <h4 class="mb-3">
                    <strong>Anna Deynah</strong>
                </h4>
                <h6 class="mb-3 font-weight-bold">Web Designer</h6>
                <p>
                    <i class="material-icons">format_quote</i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae
                    quaerat ad velit ab hic tenetur.<i class="material-icons">format_quote</i></p>
            </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
                <!--Avatar-->
                <div class="my-3">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>

                <!--Content-->
                <h4 class="mb-3">
                    <strong>John Doe</strong>
                </h4>
                <h6 class="mb-3 font-weight-bold">Web Developer</h6>
                <p>
                    <i class="material-icons">format_quote</i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    aliquid ex ea commodi.<i class="material-icons">format_quote</i></p>
            </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
                <!--Avatar-->
                <div class="my-3">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>
                <!--Content-->
                <h4 class="mb-3">
                    <strong>Maria Kate</strong>
                </h4>
                <h6 class="mb-3 font-weight-bold">Photographer</h6>
                <p>
                    <i class="material-icons">format_quote</i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti.<i class="material-icons">format_quote</i></p>

            </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section></div>

<div class="container" style="margin-bottom:50px">
    <h1>Portfolio</h1>
<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>

<!--footer-->
<footer class="footer">
    <div class="container">
      <span class="text-muted justify-content-center">Copyright © 2018 Professional Painting PB, design by <a href="http://alwandy.me">Julian Alwandy</a>.</span>
    </div>
  </footer>